/* line 5, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
#gmap_canvas {
  height: 400px;
  width: 100%; }

/* contact form */
/* line 12, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
.errorlist {
  padding-left: 0;
  margin-bottom: 0; }

/* line 17, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
.errorlist li {
  list-style: none;
  color: red;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; }

/* line 23, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
#id_cc_me {
  box-shadow: none;
  margin-top: 0; }

/*@media (max-width: var(--small-screen-breakpoint)) {
    body{
        display: none;
    }
}
*/
/* line 35, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
body {
  background-color: red; }
