/* line 3, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
#gmap_canvas {
  height: 400px;
  width: 100%; }

/* contact form */
/* line 10, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
.errorlist {
  padding-left: 0;
  margin-bottom: 0; }

/* line 15, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
.errorlist li {
  list-style: none;
  color: red;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; }

/* line 21, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
#id_cc_me {
  box-shadow: none;
  margin-top: 0; }

@media (max-width: 1200px) {
  /* line 27, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
  #contact_form #email {
    width: calc(100% - 80px);
    float: left; }
  /* line 32, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
  #contact_form #cc {
    float: right; } }

/* line 37, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
#contact_form #submit {
  padding-left: 0; }
