/* line 3, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
#gmap_canvas {
  height: 400px;
  width: 100%; }

/* line 8, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
.messages {
  list-style: none;
  width: 100%;
  position: absolute;
  opacity: 0.7;
  text-align: center;
  font-size: 20px;
  z-index: 3;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; }
  /* line 18, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
  .messages li {
    padding: 10px;
    color: white; }
    /* line 22, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
    .messages li.error {
      background: #c74848; }
    /* line 26, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
    .messages li.info {
      background: #44ad34; }

/* contact form */
/* line 35, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
.errorlist {
  padding-left: 0;
  margin-bottom: 0; }

/* line 40, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
.errorlist li {
  list-style: none;
  color: red;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; }

/* line 46, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
#id_cc_me {
  box-shadow: none;
  margin-top: 0; }

@media (max-width: 1200px) {
  /* line 52, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
  #contact_form #email {
    width: calc(100% - 80px);
    float: left; }
  /* line 57, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
  #contact_form #cc {
    float: right; } }

/* line 62, /Users/paulnichols/Documents/code/withinreach/mainsite/static/css/mainsite.scss */
#contact_form #submit {
  padding-left: 0; }
