/* line 1, /Users/paulnichols/Documents/code/withinreach/common/static/css/social_share.scss */
.sharekit {
  width: 100%;
  margin: 0 auto; }

/* line 6, /Users/paulnichols/Documents/code/withinreach/common/static/css/social_share.scss */
.sharekit div {
  margin-bottom: 10px; }

/* line 9, /Users/paulnichols/Documents/code/withinreach/common/static/css/social_share.scss */
.sharekit li {
  display: inline-block;
  margin-right: 15px; }

/* line 14, /Users/paulnichols/Documents/code/withinreach/common/static/css/social_share.scss */
.share-button a {
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 40px;
  display: block;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-indent: -9999px; }

/* line 25, /Users/paulnichols/Documents/code/withinreach/common/static/css/social_share.scss */
.share-button#facebook a {
  background-image: url('/static/img/facebook.png?42e530217253'); }

/* line 29, /Users/paulnichols/Documents/code/withinreach/common/static/css/social_share.scss */
.share-button#twitter a {
  background-image: url('/static/img/twitter.png?42e530217253'); }

/* line 33, /Users/paulnichols/Documents/code/withinreach/common/static/css/social_share.scss */
.share-button#google-plus a {
  background-image: url('/static/img/googleplus.png?42e530217253'); }
