appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.9
Django==1.9.6
django-appconf==1.0.2
django-ckeditor==5.0.3
django-compressor==2.0
django-libsass==0.7
django-simple-captcha==0.5.3
django-social-share==0.3.0
gnureadline==6.3.3
ipdb==0.10.0
ipython==4.2.0
ipython-genutils==0.1.0
libsass==0.11.1
pathlib2==2.1.0
pbr==0.10.8
pexpect==4.0.1
pickleshare==0.7.2
Pillow==3.2.0
ptyprocess==0.5.1
rcssmin==1.0.6
rjsmin==1.0.12
simplegeneric==0.8.1
six==1.10.0
stevedore==1.2.0
traitlets==4.2.1
virtualenv==15.0.1
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
