{% extends "blog/base.html" %}
{% load static %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="box">
                {% for blog in blog_entries %}
                    <div class="col-lg-12 text-center">
                        <h2 class="blog_title"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
                            <br>
                            <small>{{ blog.publish_date }}</small>
                        </h2>
                        <p class="text-justify">{{ blog.opening_content|safe }}</p>
                        {% if blog.extended_content %}
                            <a href="{{ blog.get_absolute_url }}" class="btn btn-default btn-lg">Read More</a>
                        {% endif %}
                        {% include "common/social_share.html" with blog=blog %}

                        <hr>
                    </div>
                {% empty %}
                    <div class="col-lg-12 text-center">
                        <h3>We're working on our next post--check back soon!</h3>
                    </div>
                {% endfor %}
                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        {% if blog_entries.has_next %}
                            <li class="previous"><a href="?page={{ blog_entries.next_page_number }}">&larr; Older Posts</a>
                            </li>
                        {% endif %}
                        {% if blog_entries.has_previous %}
                            <li class="next"><a href="?page={{ blog_entries.previous_page_number }}">Newer Posts&rarr;</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

{% endblock content %}
