{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <h2 class="intro-text text-center">
                        <strong>Jason Nicholsen, LICSW, MSW</strong>
                    </h2>
                </div>
                <div class="col-md-4 headshot">
                    <img class="img-responsive img-border" src="{% static 'img/headshot.jpg' %}" alt="Jason Nicholsen headshot (devilishly handsome)">
                </div>
                <div class="col-md-8 about-text">
                    <p>Jason provides individual therapy, group therapy and couples counseling. He works with clients dealing with issues including anxiety, depression and relationship issues. He has a particular expertise on LGBT Issues, Aging Issues and Mood Disorders. Jason uses a wide range of modalities to address your concerns and personalize treatment to you as an individual.</p>
                    <p>Jason earned a MSW from New York University where he also received a bachelor's degree in Social Sciences. Jason has been endorsed by the National Association of Cognitive-Behavioral Therapists as a Certified Substance Abuse Therapist and certified by the Center for Financial Social Work. </p>
                    <p>Jason offers evening and Saturday appointments. To schedule an appointment please fill out our <a href="{% url 'contact' %}">contact page</a> or email us at <a href="mailto:jason@withinreachgroup.com?subject=Website inquiry">jason@withinreachgroup.com</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!-- /.container -->
{% endblock content %}