{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container">



        <div class="row">
            <div class="box">
                <div class="col-lg-12"><h2 class="intro-text text-center">Within Reach Therapy Group
                    </h2>
                    <img class="img-responsive img-border img-left" src="{% static 'img/sunset-girl.jpg' %}" alt="woman looking at sunset">
                    <p><strong>Within Reach Psychotherapy and Counseling Group</strong> is firmly committed to developing a compassionate and supportive therapeutic experience for individuals, couples and adolescents.</p>
                    <p>Utilizing affirming psychotherapy to address issues in order respect the individual is a core value of Within Reach. We believe in the intrinsic ability of individuals to create change in their lives, find balance in the face of all of life’s challenges and find strength and resilience to weather any storm. 
                    </p>
                    <p>Psychotherapy continues to have a negative stigma within our culture. We strive to create a safe space for those with experiences of being marginalized or dismissed based on their identities or experiences. Exploring complicated issues connected to gender and sexual identities, issues of race, class or gender can elicit strong feelings. We work to individualize our approach to you as a whole person. </p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->


{% endblock content %}

