@import "variables";

#gmap_canvas {
    height: 400px;
    width: 100%;
}

/* contact form */

.errorlist {
    padding-left: 0;
    margin-bottom: 0;
}

.errorlist li {
    list-style: none;
    color: red;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#id_cc_me {
    box-shadow: none;
    margin-top: 0;
}

@media (max-width: $small-screen-breakpoint) {
    #contact_form #email {
        width: calc(100% - 80px);
        float: left;
    }

    #contact_form #cc {
        float: right;
    }
}

#contact_form #submit {
    padding-left: 0;
}