@import "variables";

#gmap_canvas {
    height: 400px;
    width: 100%;
}

.messages {
    list-style: none;
    width: 100%;
    position: absolute;
    opacity: 0.7;
    text-align: center;
    font-size: 20px;
    z-index: 3;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-left: 0;
    @media (max-width: $small-screen-breakpoint) {
        opacity: 1;
    }

    li {
        padding: 10px;
        color: white;

        &.error {
            background: #c74848;
        }

        &.info {
            background: #44ad34;
        }
    }
}

h2.intro-text {
    margin-bottom: 20px;
    text-decoration: underline;
}


/* homepage */

img.lead {
    margin-bottom: 20px;
}

ul.specialties {
    list-style: none;
    padding: 0;

    li {
        float: left;
        display: block;
        font-size: 16px;
        width: 33%;
        text-align: center;
        @media (max-width: $tablet-breakpoint) {
            width: 50%;
            font-size: 14px;
        }
        @media (max-width: $mobile-breakpoint) {
            width: 100%;
        }
    }
}

/* about page */
.about-text {
    margin-top: -8px;
    text-align: justify;
}

.headshot {
    margin-bottom: 20px;
}

/* contact form */

.errorlist {
    padding-left: 0;
    margin-bottom: 0;
}

.errorlist li {
    list-style: none;
    color: red;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#id_cc_me {
    box-shadow: none;
    margin-top: 0;
}

@media (max-width: $small-screen-breakpoint) {
    #contact_form #email {
        width: calc(100% - 80px);
        float: left;
    }

    #contact_form #cc {
        float: right;
    }
}


#contact_form {

    .captcha img {
        margin-left: 10px;
    }

    input#id_captcha_1 {
        display: block;
        margin: 10px 0;
    }

    #submit {
        padding-left: 0;
    }
}

/* payment info */

.payment {
    h4 {
        margin-bottom: 5px;
        @media (max-width: $mobile-breakpoint) {
            text-align: center;
        }
    }

    p {
        margin-bottom: 20px;
    }

    ul {
        @media (max-width: $mobile-breakpoint) {
            padding-left: 16px;
        }
    }
}